include_dirs:
  - "include/"
  - "src/pipes"
  - "_build/*/lib"
  - "_build/*/lib/*/include"
deps_dirs:
  - "_build/*/lib/*"
diagnostics:
  disabled:
    - xref
lenses:
    enabled:
        - ct-run-test
    disabled:
        - show-behaviour-usages
% otp_path: "/usr/local/Cellar/erlang/25.1.1/lib/erlang/"
otp_path: "/usr/local/Cellar/erlang/26.0.2/lib/erlang/"
apps_dirs:
    - "lib/*"
include_dirs:
    - "lib"
    - "lib/*/include"
