{erl_opts, [debug_info]}.

{deps, [
    {pooler, "1.6.0"}
]}.

{edoc_opts, [{preprocess, true}]}.

{erlfmt, [
    {files, "{src,include,test}/**/*.{hrl,erl}"},
    {files, "rebar.config"},
    {files, "config/sys.config"}
]}.

{plugins, [
    {erlfmt, ".*", {git, "https://github.com/WhatsApp/erlfmt.git", {tag, "v0.7.0"}}}
]}.

{pre_hooks, [
    {"(darwin|linux)", compile, "make -C c_src"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [aspike_port]}
]}.

{relx, [
    {release, {aspike_port, "0.1.0"}, [
        aspike_port,
        sasl
    ]},

    {sys_config, "./config/sys.config"},
    % {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.
